lesson-08/lesson-08_1_BasicWorkflow.json
{
  "name": "Lesson8_1_BasicWorkflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        20,
        0
      ],
      "id": "aaf8e5ab-09f3-435e-917a-60826811be3e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_XX3rD0aM4FiFkMNFf-v0VOjdhAu3ieF3vgtTOfPIck",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1419547428,
          "mode": "list",
          "cachedResultName": "ContentIdea",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_XX3rD0aM4FiFkMNFf-v0VOjdhAu3ieF3vgtTOfPIck/edit#gid=1419547428"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        200,
        0
      ],
      "id": "78f392e1-4737-4393-81bf-9d2a031547a2",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vGgNeKZQfZqiZQyH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Idea }}",
        "messages": {
          "messageValues": [
            {
              "message": "คุณคือผู้เชี่ยวชาญด้านการออกแบบคำสั่ง prompt สำหรับ AI ที่สร้างภาพ เช่น DALL·E, Stable Diffusion, Midjourney หรือ ComfyUI โดยเฉพาะ โดยเน้นการสร้าง prompt ที่ชัดเจน มีรายละเอียด และพร้อมใช้งานจริงสำหรับการสร้างภาพจากข้อความ\n\n**กฎสำคัญ:**\n- รับ prompt สั้นจาก input (สั้นได้ เช่น \"เด็กเล่นว่าว\", \"หุ่นยนต์ในเมืองยุคอนาคต\")\n- แปลงเป็นคำสั่ง image prompt ที่ละเอียด ใช้ descriptive keywords\n- คำตอบต้องเป็นข้อความยาวในรูปแบบบรรทัดเดียว (ไม่มี `\\n`, ไม่แยกย่อหน้า)\n- อย่าใส่คำว่า “Prompt:” หรือ “คำตอบ:” นำหน้า\n- ไม่ต้องอธิบายหรือตีความ ให้ส่งเพียง prompt สำหรับสร้างภาพเท่านั้น\n\n**ตัวอย่าง:**\n\n- Input: เด็กเล่นว่าว\n- Output: A joyful child flying a colorful kite in a wide open green field under a bright blue sky, surrounded by trees and a few fluffy clouds, warm sunlight, cinematic lighting, ultra-realistic, 4K\n\n---\n\n- Input: หุ่นยนต์ในเมืองยุคอนาคต\n- Output: A sleek humanoid robot walking through a bustling futuristic city with neon lights, flying cars in the background, reflections on wet streets, cyberpunk style, ultra detailed, night scene, concept art\n\n---\n\n- Input: มังกรไฟบนภูเขา\n- Output: A fierce fire-breathing dragon perched on a rocky mountain peak, flames erupting from its mouth, dramatic sky with storm clouds, fantasy style, high detail, epic scale, cinematic view\n\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        420,
        0
      ],
      "id": "3bc673a7-7e39-4e42-a0c1-03d51f2a4ec5",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-exp:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        500,
        140
      ],
      "id": "bde43595-b78b-47ab-9fb9-53e7cb2cffd1",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "LbZNXPbtb81Xk64r",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.piapi.ai/api/v1/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "=<Your PiAPI Key>"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"model\": \"Qubico/flux1-dev\",\n  \"task_type\": \"txt2img\",\n  \"input\": {\n    \"prompt\": \"{{ $json.text }}\",\n    \"negative_prompt\": \"taking a photo of a room, recording a video of a room, photos app, video recorder, illegible text, blurry text, low quality text, DSLR, unnatural\",\n    \"width\": 540,\n    \"height\": 960\n  }\n}",
        "options": {}
      },
      "id": "4366c655-a5d8-4296-8e1e-763bf65a0c52",
      "name": "Generate Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        760,
        0
      ],
      "retryOnFail": false,
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "=<Your PiAPI Key>"
            }
          ]
        },
        "options": {}
      },
      "id": "5f22de9d-3021-462e-a8fe-76d06021ab02",
      "name": "Get image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1140,
        0
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "### สร้างภาพด้วย PiAPI Flux Model\n### Pre-requisites\n1. PiAPI API\n\n### Node: \n- HTTP Requests [Post]\n- Wait\n- HTTP Requests [GET]",
        "height": 420,
        "width": 580,
        "color": 4
      },
      "id": "3b647348-3797-4109-b138-949c83e91478",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        700,
        -220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1_XX3rD0aM4FiFkMNFf-v0VOjdhAu3ieF3vgtTOfPIck",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1419547428,
          "mode": "list",
          "cachedResultName": "ContentIdea",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_XX3rD0aM4FiFkMNFf-v0VOjdhAu3ieF3vgtTOfPIck/edit#gid=1419547428"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "txt2img prompt": "={{ $('Basic LLM Chain').item.json.text }}",
            "image url": "={{ $json.data.output.image_url }}",
            "row_number": "={{ $('Google Sheets').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Idea",
              "displayName": "Idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "txt2img prompt",
              "displayName": "txt2img prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image url",
              "displayName": "image url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c5372d60-0e40-42db-b7d3-dd041940739c",
      "name": "Update image background URL",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1360,
        0
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vGgNeKZQfZqiZQyH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "id": "62468bd8-4451-4a01-b8e4-e7356505abc1",
      "name": "Wait image 2 min",
      "type": "n8n-nodes-base.wait",
      "position": [
        960,
        0
      ],
      "webhookId": "ccf58c3e-f91d-4f58-a4a7-aff58c9be226",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "### AI คิด Prompt สำหรับสร้างภาพ\n### Pre-requisites\n1. OpenRouter API\n2. OpenAI API (options)\n\n### Node: \n- Basic LLM Chain\n- Chat Model",
        "height": 420,
        "width": 300,
        "color": 3
      },
      "id": "1c5954ca-2394-4885-a4a1-ab6e9d70d402",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        -220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### อ่านค่าจาก google sheet\n### Pre-requisites\n1. Google Credentail\n\n### Node: \n- Google Sheets",
        "height": 420,
        "width": 220
      },
      "id": "1d613bfc-0919-4dbe-9b82-01844dc884b9",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        140,
        -220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### บันทึกค่าเข้า google sheet\n### Pre-requisites\n1. Google Credentail\n\n### Node: \n- Google Sheets",
        "height": 420,
        "width": 220
      },
      "id": "f3aa3e66-fc39-4672-8335-a7a4dfeba9c1",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1300,
        -220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Result\n![output](https://img.theapi.app/temp/a0a98794-bf83-4e0b-b926-6ec12e6e0274.png)",
        "height": 420,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1560,
        -220
      ],
      "typeVersion": 1,
      "id": "d8e06ce8-972d-45e4-a60e-0e8407276135",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get image": {
      "main": [
        [
          {
            "node": "Update image background URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait image 2 min": {
      "main": [
        [
          {
            "node": "Get image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Wait image 2 min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0a106621-7246-46f7-8a53-944b6040b44a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dec2dfaf70ee5f196c1183021cac4584d3e5f289775f85e6eb54a94f68f11d9e"
  },
  "id": "WEk5afrBt8RxjY2R",
  "tags": []
}
